{% extends 'citisoft/user/index.html' %}
{% load static %}
{% block content %}

     <body>

        <main class="form-signin w-100 m-auto">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form id="signupForm">
                            <div class="form-floating">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name..">
                            </div>
                            <br>
                            <div class="form-floating">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name..">
                            </div>
                            <br>
                            <div class="form-floating">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Email Address..">
                                <div id="emailError" class="text-danger"></div>
                            </div>
                            <br>
                            <div class="form-floating">
                                <label for="confirmEmail">Confirm Email address</label>
                                <input type="email" class="form-control" id="confirmEmail" placeholder="Confirm Email..">
                                <div id="confirmEmailError" class="text-danger"></div>
                            </div>
                            <br>
                            <select class="form-select" id="countrySelect">
                                <option selected disabled>Country</option>
                                <option>UK</option>
                                <option>US</option>
                                <option>Nigeria</option>
                            </select>
                            <div id="countrySelectError" class="text-danger"></div>
                            <br>
                            <div class="form-floating">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                                <div id="passwordError" class="text-danger"></div>
                            </div>
                            <br>
                            <div class="form-floating">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                                <div id="confirmPasswordError" class="text-danger"></div>
                            </div>
                            <br>
                            <div class="d-grid mx-auto gap-3" style="max-width: 200px;">
                                <button class="btn btn-primary btn-lg mb-2" type="submit">Signup</button>
                                <button class="btn btn-outline-danger btn-lg mb-2" type="button" style="float:right; margin:5px;">Cancel</button>
                            </div>
                            <div class="mt-5 text-body-secondary">
                                <p class="d-inline mr-4">Opening a new User Account? <a href="{% url 'usersignup' %}">Sign up here</a></p>
                                <br>
                                <p class="d-inline">Already Have a Vendor Account? <a href="{% url 'vendorlogin' %}">Sign in here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        
             <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
             
                 </body>
{% endblock content %}

